.navSpacing {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	/* max-width: 1290px; */
}

.links {
	display: flex;
	align-items: center;
	gap: 50px;
}

.links button {
	margin-left: 30px;
}
