.button {
	display: inline-block;
	outline: 0;
	border: none;
	cursor: pointer;
	height: 40px;
	padding: 12px 17px;
	border-radius: 50px;
	background-color: #af1717;
	color: rgb(232, 232, 232);
	font-size: 16px;
	font-weight: 500;
}

.button:hover {
	background-color: #b03f3f;
}
